<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Squille Test Suite">
            <directory>tests/units/Squille</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Squille/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>